<ion-content>
  <!-- prueba  -->
  <div>
    <figure class="size-logo">
      <img src="../../assets/logo2.png" />
    </figure>

    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

      <ion-item fill="solid">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_message.email">
          <div *ngIf="
          loginForm.get('email')?.hasError(validation.type) && 
          (loginForm.get('email')?.dirty || 
          loginForm.get('email')?.touched)
          ">
            <p>
              {{validation.message}}
            </p>
          </div>
        </ng-container>
      </div>
      <ion-item fill="solid">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_message.password">
          <div *ngIf="
        loginForm.get('password')?.hasError(validation.type) && 
        (loginForm.get('password')?.dirty || 
        loginForm.get('password')?.touched)
        ">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-button shape="round" color="light" [disabled]="!loginForm.valid" type="submit">
        Login
      </ion-button>
    </form>
    {{ errorMessage }}
  </div>
</ion-content>


<ion-footer>
  <!-- <ion-toolbar> -->
  <ion-button (click)="Register()" color="secondary" shape="round">
    Registrarse
  </ion-button>
  <ion-title></ion-title>
  <!-- </ion-toolbar> -->
</ion-footer>