<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-button slot="end" (click)="closeModal()">
              Cerrar
          </ion-button>
      </ion-buttons>
      <ion-title>{{author.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
      <ion-avatar>
          <img src="{{author.photo}}" class="center" />
      </ion-avatar>
  </ion-item>
  <ion-item *ngFor="let book of listBooks" class="fontRoboto">
      <ion-icon class="colum1" name="book-sharp"></ion-icon>
      <ion-label class="colum2">{{book.name}}</ion-label>
  </ion-item>
</ion-content>