<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="size-logo">
    <img src="./assets/logo2.png" />
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Enter text" formControlName="name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input placeholder="Enter text" formControlName="last_name"></ion-input>
    </ion-item>
   
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Tipo de documento" formControlName="document_type">
          <ion-select-option value="cc">Cedula de Ciudadania</ion-select-option>
          <ion-select-option value="ti">Tarjeta de Identidad</ion-select-option>
          <ion-select-option value="ce">Cedula Extranjera</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="floating">Numero documento</ion-label>
      <ion-input placeholder="Enter text" formControlName="document_number"> </ion-input>
    </ion-item>
  
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Carrera" formControlName="career">
          <ion-select-option value="Ing. S.">Ingenieria de Sistemas</ion-select-option>
          <ion-select-option value="Ing. I.">Ingenieria Industrial</ion-select-option>
          <ion-select-option value="Ing. E.">Ingenieria Electronica</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Enter text" formControlName="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="Enter text" formControlName="password" type="password"></ion-input>
    </ion-item>
    
    <ion-button 
    shape="round"
    color="primary"
    type="submit">
      Registrarse
    </ion-button>

  </form>
  
</ion-content>
