.size-logo img{
    background: #bebebe;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

ion-item{
    margin: 10px;
    border-radius: 10px;
}

ion-list{
    margin: 10px;
    border-radius: 10px;
}